# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
data_pre/
shells/
# C extensions
*.so
*.pth
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.pkl
logs/
log/
__pycache__/

